@import "bourbon"

/*==========  Desktop First Method  ==========*/
@media only screen and (min-width: 1700px) and (max-width : 1920px)
	header
		.phone_wrap_trien_wrap
			margin-right: 150px
@media only screen and (min-width: 1500px) and (max-width : 1699px)
	header
		.phone_wrap_trien_wrap
			margin-right: 40px
@media only screen and (min-width: 1400px) and (max-width : 1499px)
	header
		.phone_wrap_trien_wrap
			margin-right: 0px			
@media only screen and (max-width : 1366px)
	/**/
	header 
		.phone_header_wrap
			.phone	
				p 
					padding-right: 70px!important	
							
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	header 
		.header_top_center
			p 
				font-size: 14px!important
		.phone_header_wrap
			.phone	
				p 
					padding-right: 140px!important	
					&:first-child
						font-size: 21px!important
	.sec_4_bottom_item
		margin-right: 0px!important
	.sec_4_bottom	
		.owl-carousel
			.owl-item
				margin-left: 3px!important
		.owl-nav
			top: 20%!important
			.owl-prev
				margin-left: -10px!important
	footer
		.call_you_footer
			margin-left: 50px
	.section_4_wrap
		.sec_4_bottom
			overflow-x: hidden
			.sec_4_bot_trien_2_wrap
				.sec_4_bot_trien_2
					margin-left: 0!important

@media only screen and (max-width : 1199px)
	.section_2
		height: 910px
		.carousel_2_inside
			.owl-stage
				.owl-item
					margin-left: 40px!important
		.owl-nav
			top: 25%!important		
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	header 
		.phone_header_wrap
			.phone	
				p 
					padding-right: 90px!important
	.sec_4_call_me
		margin-left: 0px
	.section_5
		.top_sec
			h2
				padding-left: 30%
		.sec_5_content
				margin-left: 10%
	footer
		.call_you_footer
			margin-top: 0px
			margin-left: 10%
		.contacts
			padding: 0
			padding-top: 130px
			margin-bottom: 20px
			line-height: 1.1
		.postav
			padding-left: 50px
			padding-right: 30px		
	header
		.nasos
			margin-left: 0px 
		.phone_header_wrap
			margin-right: 70px!important
@media only screen and (max-width : 991px)
	header
		overflow-x: hidden
		.header_top_center
			p 
				font-size: 14px!important
				margin-left: 30px
		.phone_header_wrap
			.phone
				position: absolute
				right: 100px
				top: 60px
				width: 200px
				p 
					padding-right: 0px!important
					&:last-child
						margin-top: 50px
						margin-right: -180px!important
		.nasos
			img
				width: 200px
				height: auto
				margin-top: 60%
				margin-left: -0px
		.logo_wrap
			margin-left: -20px
		.wrap_all_technik
			h1
				font-size: 20px!important	
				span
					font-size: 50px	 
		.phone_header_wrap
			margin: 0!important
			.phone
				margin-top: -70px!important	
				p 
					float: right
					padding-right: 0px!important	

					&:first-child
						font-size: 21px!important
	.section_3
		.wrap_img_sec_3
			img
				margin-left: -150px!important 
		.baner_wrap
			margin-left: 40%	
			h2
				font-size: 24px	
				span
					font-size: 35px
	.section_5
		.top_sec
			h2
				float: right
				padding-right: 10%
		.sec_5_content	
			margin: 0		
	footer
		.call_you_footer
			margin-top: 0px
			margin-left: -10px
		.contacts
			padding: 0
			padding-top: 130px
			margin-bottom: 20px
			line-height: 1.1
		.postav
			padding-left: 10px
			padding-right: 0	
			margin-right: -10px
			p 
				margin-top: 0	
			img
				margin-top: 0!important
	.sec_4_bottom					
		.owl-nav
			top: 53%!important
			.owl-prev
				margin-left: 150px!important
			.owl-next
				margin-right: 200px	!important
	.call_tou_wrap
		padding-right: 0px!important	
	.section_2
		.carousel_2_inside
			.owl-stage
				z-index: 1000
				.owl-item
					margin-left: 60px!important
					margin-right: 60px!important
		.owl-stage-outer
			height: 740px			
		.owl-nav
			top: 45%!important	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
@media only screen and (max-width : 767px)
	header
		.nasos
			img
				width: 200px
				height: auto
				margin-top: 60%
				margin-left: 15%
		.wrap_all_technik
			margin-top: 100px
		.logo_wrap
			margin-left: 0px
		.header_top_center
			p 
				display: none
		.phone_header_wrap
			position: absolute
			right: 350px
			top: 25px
			.phone
				margin-top: -60px!important
				margin-right: -300px!important
				
				width: 200px
				p 
					padding-right: 0px!important
					&:last-child
						margin-top: 50px
						margin-right: -180px!important
	.sec_4_bottom						
		.owl-carousel
			height: 400px
			.owl-item
				margin-left: 20px!important
				margin-right: 20px!important
			.owl-stage-outer
				height: 660px						
	.section_5
		.sec_5_wrap_img
			margin-left: 30%
		.sec_5_content	
			margin-left: 20%
	.sec_4_bottom			
		.owl-nav
			top: 93%!important
			.owl-prev
				margin-left: 150px!important
			.owl-next
				margin-right: 200px	!important
	footer
		overflow-x: hidden
		.call_you_footer
			text-align: center
			
			.inp_foot_wrap
				margin-right: auto
				margin-left: auto
		.contacts
			padding-top: 0px
			text-align: center
		.postav
			text-align: center
			margin-left: 0
			padding-left: 0
			p 
				margin-top: 0	
			img
				margin-left: 10%!important	
	.button
		width: 40px
		height: 40px	
		i
			font-size: 15px
			margin-left: 15px
			margin-top: 12px		
@media only screen and (max-width : 720px)
	.section_2
		.carousel_2_inside
			.owl-stage
				.owl-item
					margin-left: 57px!important
					margin-right: 57px!important
		.owl-stage-outer
			height: 740px			
		.owl-nav
			top: 45%!important
@media only screen and (max-width : 700px)
	.section_2
		.carousel_2_inside
			.owl-stage
				.owl-item
					margin-left: 105px!important
					margin-right: 105px!important	
	header
		.phone_header_wrap
			position: absolute
			right: 410px
			top: 135px!important
			.phone
				margin-top: -60px!important
				margin-right: -300px!important	
@media only screen and (max-width : 650px)
	.section_2
		.carousel_2_inside
			.owl-stage
				.owl-item
					margin-left: 97px!important
					margin-right: 97px!important	
@media only screen and (max-width : 600px)
	.section_2
		.carousel_2_inside
			.owl-stage
				.owl-item
					margin-left: 90px!important
					margin-right: 90px!important
@media only screen and (max-width : 600px)
	.section_2
		.carousel_2_inside
			.owl-stage
				.owl-item
					margin-left: 85px!important
					margin-right: 85px!important
		.owl-dots
			.owl-dot
				width: 110px
				p
					font-size: 12px	
@media only screen and (max-width : 550px)
	.baner_wrap
		margin-left: 0%!important
	.section_3
		.wrap_img_sec_3
			img
				display: none																														
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	header 
		.phone_header_wrap
			.phone
				position: absolute
				right: 30px
				top: -50px
				width: 200px
			.phone_icon_wrap
				display: none	
		.logo_wrap
			img
				margin-top: 60px!important
		.nasos
			img
				margin-left: 2%
	.section_3
		.wrap_img_sec_3
			img
				margin-left: -180px!important 
		.baner_wrap
			margin-left: 35%
	.sec_4_bottom
		overflow-x: hidden		
	.section_5
		overflow-x: hidden
		.top_sec
			h2
				color: #fff
				z-index: 1500!important
	.section_5
		.sec_5_wrap_img
			margin-left: 2%
	.sec_4_bottom					
		.owl-nav
			top: 93%!important
			.owl-prev
				margin-left: 100px!important
			.owl-next
				margin-right: 120px	!important
		.owl-stage
			height: 345px
			overflow-y: hidden			
	.sec_4_bottom				
		.owl-carousel
			.owl-item
				margin-left: 20px!important
				margin-right: 20px!important
	.section_2
		.carousel_2_inside
			.owl-stage
				.owl-item
					margin-left: 137px!important
					margin-right: 137px!important	

@media only screen and (max-width : 400px)
	header 
		.wrap_all_technik
			h1
				margin-top: 260px!important
				margin-left: -130px!important
@media only screen and (max-width : 380px)
	.section_2
		.carousel_2_inside
			.owl-stage
				.owl-item
					margin-left: 120px!important
					margin-right: 120px!important
		.owl-dots
			.owl-dot
				width: 90px
				p
					font-size: 10px		

@media only screen and (max-width : 330px)
	.clock
		width: 315px!important
		margin-left: -15px!important																				
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	header
		.phone_header_wrap
			.phone
				position: absolute
				right: 0px
				top: 25px
				width: 200px
				p 
					padding-right: 0px!important
					&:last-child
						margin-top: 50px
						margin-right: -180px!important
		.wrap_all_technik
			h1
				margin-top: 250px!important
				margin-left: -130px!important
	.call_tou_wrap
		margin-top: 50px!important			
	.top_sec
		h2
			color: #fff!important
			margin-right: 0!important
	.section_3
		.wrap_img_sec_3
			img
				display: none	
	.baner_wrap
		margin: 0!important	
	.section_2
		.carousel_2_inside
			.owl-stage
				.owl-item
					margin-left: 92px!important
					margin-right: 92px!important			
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

