@import "bourbon"
@import "vars.sass"
@import "fonts.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "PTSansRegular", sans-serif
	overflow-x: hidden
	font-weight: lighter

.hidden
	display: none

h1
	font-family: "PTSansRegular"
	font-size: 32px
	color: #28718d
	font-weight: lighter
	line-height: 50px
	display: inline-block
	border-left: 2px solid #56bdd9
	margin-top: 130px
	padding-left: 30px
	margin-left: -30px
	span
		font-size: 69px
		color: #198798

ul
	margin: 0
	padding: 0
	li
		list-style-type: none

a
	text-decoration: none
	color: #307791
	text-transform: uppercase
	font-size: 12px

p
	font-size: 16px
	font-family: "PTSansRegular" 



header
	min-height: 615px
	position: relative
	padding-top: 50px
	background: url(../img/header_bg.png)
	>img
		position: absolute
	.header_bottom_left_trien_wrap
		position: absolute
		bottom: 0
		left: -320px
		background: url(../img/header_bg_2.png)
		width: 1104px
		height: 499px
		.header_bottom_left_trien
			width: 100%
			height: 100%
			background: url(../img/header_bg_2_op.png) -5px bottom no-repeat
			opacity: .35
	.header_top_left_trien
		top: 0
		left: -300px
	p
		font-size: 16px
	.phone_header_wrap
		position: relative
		float: right
		div
			float: left
		.phone_icon_wrap
			height: 50px
			width: 50px
			background: url(../img/phone_wrap.png) 100% 100% no-repeat
			transform: rotate(-45deg)
			text-align: center
			padding-top: 10px
			margin-right: 15px
			margin-top: 15px

			img
				transform: rotate(45deg)
		.phone
			text-align: right
			color: white
			p
				margin: 0
				&:first-child
					font-size: 27px
					margin-top: 15px
					span
						font-family: "PTSansBold"
				&:last-child
					font-size: 16px
	.nasos
		margin-left: 70px
	.call_tou_wrap
		margin-top: 145px
		border-left: 2px solid #65c3dc
		padding: 0 30px
		margin-left: -30px
		text-align: center
		h2
			color: #198798
			font-size: 19px
			font-family: "PTSansRegular"
			font-weight: lighter
			text-align: left
		.input_header_wrap
			position: relative
			input
				width: 100%
				border: 1px solid #bcd4d9
				border-radius: 5px
				padding: 11px 14px
				font-size: 13px
				color: #666666
				font-family: "PTSansRegular"
			&:not(:first-of-type)
				margin-top: 15px
			img
				position: absolute
				right: 12px
				top: 12px
		p
			font-size: 14px
			color: #198798
			text-align: left

	.phone_wrap_trien_wrap
		width: 572px
		height: 286px
		background: url(../img/phone_trien.png)
		position: absolute
		right: 0
		top: 0
		.phone_wrap_trien_wrap
			background: url(../img/phone_bg.png) no-repeat
			width: 100%
			height: 100%

button
	width: 193px
	height: 45px
	background: url(../img/big_button.png) 100% 100% no-repeat
	border: none
	color: white
	font-size: 17px
	font-family: "PTSansBold"
	margin-top: 15px









