@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.carousel_2_inside
	margin-top: 90px
	.owl-dot
		display: none!important
	.owl-nav
		position: absolute
		top: 50%
		width: 100%
		>div
			display: inline-block
		.owl-prev
			float: left
			margin-left: -35px
		.owl-next
			float: right!important
			margin-right: -20px!important
		img
			height: 32px
			width: 27px!important

button
	outline: none
	&:hover
		background: url(../img/big_button_hover.png)


		

.section_2
	min-height: 830px
	background: url(../img/sec_2_bg_1.png) no-repeat -395px -72px, url(../img/sec_2_bg_2.png) no-repeat 800px bottom
	padding-bottom: 50px
	overflow: hidden
	.slide_ins_item
		height: 310px
		width: 165px
		background: url(../img/otzyv_bg.png)
		background-size: 100% 100%
		border-bottom: 2px solid #56bdd9
		text-align: center
		margin-top: 15px
		.img_top_wrap_it
			background: url(../img/otzyv_item_shadow.png) bottom center no-repeat
			height: 50%
			width: 100%
			text-align: center
			padding-top: 20px
			img
				height: 94px
				width: 117px
				display: inline-block
		h3
			color: #28718d
			font-size: 18px
			font-family: "PTSansRegular"
			font-weight: lighter
			border-bottom: 1px solid #dedede
			display: inline-block
			padding-bottom: 20px
			margin: 0
			margin-top: 10px
		p
			color: #5c5c5c
			font-size: 13px
			margin: 0
			margin-top: 10px
			span
				font-size: 18px
				color: #a22100
				font-family: "PTSansBold"
		.little_button
			width: 96px
			height: 34px
			background: url(../img/little_button_bg.png)
			font-size: 13px
			padding-left: 23px
			margin-top: 10px
			&:hover
				background: url(../img/little_button_bg_hover.png)

.carousel_sec_2
	margin-top: 30px
	.owl-dots
		margin-left: auto
		margin-right: auto
		display: block
		width: 100%
		text-align: center
		position: absolute
		top: 0
		.owl-dot
			display: inline-block
			border-bottom: 5px solid #28718d
			width: 195px
			height: 53px
			font-size: 14px
			color: #337993
			font-family: "PTSansBold"
			text-align: center
			vertical-align: middle
			position: relative
			cursor: pointer
			&:not(:first-child)
				padding-top: 13px
			&:first-child
				padding-top: 5px
			p
				vertical-align: middle
				text-align: center
				margin: 0
				text-transform: uppercase
				line-height: 20px
		.active
			background: url(../img/active_dot.png)
			color: white
			border-bottom: none
			position: relative
			&:after
				content: ''
				width: 10px
				height: 10px
				transform: rotate(45deg)
				background: #56bdd9
				position: absolute
				left: 50%
				margin-left: -5px
				bottom: -5px




.section_3
	/* overflow-x: hidden */
	min-height: 245px
	background: url(../img/sec_3_bg.png)
	background-size: cover
	.wrap_img_sec_3
		position: relative
		height: 100%
		img
			top: -20px
			left: 125px
			position: absolute
	.baner_wrap
		h2
			font-size: 29px
			font-family: "PTSansRegular"
			color: white
			font-weight: lighter
			line-height: 45px
			margin: 0
			margin-top: 20px
			span
				display: block
				font-size: 42px
				font-family: "PTSansBold"
				font-weight: bold
		p
			display: inline-block
			margin-top: 20px
			color: white
			font-size: 16px
			font-weight: lighter

.top_sec
	h2
		font-size: 22px
		font-family: "PTSansRegular"
		font-weight: lighter
		color: #28718d
		text-transform: uppercase
		text-align: center
		margin-top: 35px
		span
			font-family: "PTSansBold"

.clock
	width: 225px
	height: 60px
	.flip
		width: 25px
		height: 35px

.flip-clock-wrapper 
	ul 
		li 
			a 
				div 
					div.inn
						font-size: 14px!important

.flip-clock-wrapper ul li
	line-height: 35px!important

.flip-clock-dot.bottom
	bottom: 65px!important

.flip-clock-dot.top
	top: 13px!important

.flip-clock-dot
	width: 5px!important
	height: 5px!important

.flip-clock-divider .flip-clock-label
	top: 4.5em!important
	right: -49px!important
	color: white!important

.flip-clock-wrapper
	margin: 0!important

.flip-clock-wrapper ul
	margin: 2px!important

.flip-clock-divider
	width: 15px!important
	
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 
	position: relative
	min-height: 1px
	padding-right: 10px
	padding-left: 10px

 
.col-xs-1-5 
	width: 20%
	float: left


 
@media (min-width: 768px) 
	.col-sm-1-5 
		width: 20%
		float: left
	

 
@media (min-width: 992px) 
	.col-md-1-5 
		width: 20%
		float: left
	

 
@media (min-width: 1200px) 
	.col-lg-1-5 
		width: 20%
		float: left
	


.section_4_wrap
	background: url(../img/sec_4_bg.png)
	.sec_4_top
		padding-bottom: 30px
		.sec_4_top_item
			text-align: center
			margin-top: 45px
			h3
				color: #198798
				font-size: 18px
				font-weight: lighter
				margin: 0
				margin-top: 20px
				padding: 0px 30px
				line-height: 23px
			p
				font-size: 14px
				color: #4c4c4c
				margin-top: 10px
	.sec_4_bottom
		min-height: 430px
		position: relative
		padding-bottom: 30px
		overflow-x: hidden
		.owl-dots
			display: none
		.top_sec
			h2
				display: inline-block
				float: left
				text-align: left
				margin-right: 80px
				color: #3d819a
		.sec_4_bot_trien_1_wrap
			height: 431px
			width: 860px
			background: url(../img/sec_4_bot_1.png)
			position: absolute
			bottom: 0
			left: -400px
			.sec_4_bot_trien_1
				width: 55%
				float: right
				background: url(../img/sec_4_bot_1_inside.png) left bottom no-repeat
				height: 100%
		.sec_4_bot_trien_2_wrap
			height: 436px
			width: 870px
			background: url(../img/sec_4_bot_2.png)
			position: absolute
			top: 0
			right: -400px
			.sec_4_bot_trien_2
				background: url(../img/sec_4_bot_2_inside.png) left top no-repeat
				height: 100%
				width: 100%
				float: left
				margin-left: 105px
		.owl-nav
			width: 100%
			top: 40%
			position: absolute
			.owl-prev
				float: left
				margin-left: -50px
				img
					width: 22px
					height: 22px
			.owl-next
				float: right
				margin-right: -5px
				img
					width: 22px
					height: 22px

.section_5
	min-height: 335px
	background: url(../img/sec_5.png) no-repeat
	position: relative
	padding-bottom: 65px
	.sec_5_trien
		position: absolute
		width: 861px
		height: 431px
		background: url(../img/sec_5_trien.png)
		left: -400px
		z-index: 150
	.sec_5_wrap_img
		height: 185px
		width: 295px
		position: relative
		background: rgba(#55bcd8, .35)
		margin-top: 30px
		z-index: 200
		img
			width: 100%
			height: 100%
			position: absolute
			top: -7px
			left: -7px
			z-index: 250
	.sec_5_content
		padding-left: 40px
		margin-top: 30px
		h4
			color: #1c899a
			font-size: 18px
			font-family: "PTSansRegular"
			text-decoration: underline
			margin: 0
		p
			font-size: 14px
			color: #4c4c4c
			margin-top: 20px
			margin-bottom: 0
		>span
			color: #2a728e
			font-size: 13px
			font-family: "PTSansRegular"
			margin-top: 20px
			display: inline-block
		.sec_5_pagin_item
			color: #1c899a
			font-size: 14px
			font-family: "PTSansRegular"
			margin-top: 10px
			cursor: pointer
			display: inline-block
			&:not(:first-child)
				margin-left: 15px
			img
				display: inline-block
				margin: 0 5px

footer
	min-height: 277px
	background: url(../img/footer_bg.png)
	position: relative
	z-index: 100
	.footer_5_trien
		position: absolute
		width: 632px
		height: 317px
		background: url(../img/footer_trien.png)
		bottom: 0
		left: 50%
		margin-left: -316px
	p
		font-size: 14px
		margin: 0
		color: white
	h3
		font-size: 25px
		font-weight: lighter
		margin: 0
		margin-top: 15px
		color: white
	.call_you_footer
		margin-left: 20px
		.inp_foot_wrap
			position: relative
			width: 230px
			margin-top: 10px
			input
				padding: 10px 15px
				border: 1px solid #9dcbcd
				border-radius: 5px
				font-size: 13px
				color: #666666
				width: 100%
			img
				position: absolute
				right: 10px
				top: 10px
	.contacts
		color: white
		padding: 0 65px
		h3
			text-align: center
		p
			margin-top: 15px
		.phone_footer
			font-size: 22px
			span
				font-family: "PTSansBold"
		img
			display: inline-block
			margin-right: 15px
			margin-top: -5px
	.postav
		padding: 0 80px
		margin-left: 20px
		
		.wrap_logo_footer
			img
				margin-left: -20px
				display: inline-block
				margin-top: 15px
		p
			margin-top: 15px


.sec_4_bottom_item
	height: 340px
	width: 165px
	background: url(../img/otzyv_bg.png)
	background-size: 100% 100%
	padding: 15px 0px
	border-bottom: 2px solid #25ccb0
	.img_wrap_sec_4
		height: 45%
		background: url(../img/otzyv_item_shadow.png)
		width: 98%
		margin: 0 auto
		background-size: 100% 100%
		background-position: center bottom
		.img_wrap_circle
			width: 120px
			height: 120px
			border-radius: 50%
			margin-left: auto
			margin-right: auto
	.otzyv_content
		padding: 10px 20px
		h4
			font-size: 16px
			color: #268d9e
			font-family: "PTSansRegular"
			margin: 0
		p
			margin: 0
			font-size: 14px
			color: #545656
			margin-top: 10px
			img
				width: 10px
				height: 10px
				display: inline-block
				margin-left: 10px

.sec_4_call_me
	h3
		color: white
		font-size: 25px
		font-family: "PTSansRegular"
		font-weight: lighter
	.sec_4_wrap_input
		position: relative
		height: 33px
		margin-top: 15px
		input
			width: 100%
			height: 33px
			border-radius: 5px
			border: 1px solid #96c4c9
			color: #666666
			font-size: 13px
			padding: 10px 14px
		img
			position: absolute
			top: 7px
			right: 7px

.carousel_sec_2_1
	text-align: center
	width: 100%
	.carousel_2_item_1
		width: 195px
		text-align: center
		font-size: 14px
		color: #337993
		text-transform: uppercase
		font-family: "PTSansBold"
		border-bottom: 3px solid #28718d
		cursor: pointer
		height: 45px
		display: inline-block
.button
	width: 50px
	height: 50px
	transform: rotate(-45deg)
	position: fixed
	top: 80%
	right: 30px
	background-color: #1ea2a1
	z-index: 2000
	i
		transform: rotate(45deg)
		color: #fff
		z-index: 3000
		font-size: 20px
		margin-left: 20px
		margin-top: 12px

//ALWAYS END
@import "media"
